{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
    <title>{{ project.title }}</title>
{% endblock title %}


{% block page_content %}

<div class="bg-image" 
     style="background-image: url('/static/portfolio/images/76.jpg');
            height: 100vh">



<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="text-center">{{ project.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="{{ project.image.url }}" alt="" width="100%">
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About the project</h5>
                    <hr>
                    <p>{{ project.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="/" class="btn btn-outline-primary mt-auto">
                        Return to Projects
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}